<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mini Tienda</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body>
    <header>
        <nav>
            <a href="/">Inicio</a> |
            <a href="/productos">Productos</a> |
            <a href="/categorias">Categorías</a> |

            {% if session.get('nombre_usuario') %}
            <span>Hola, {{ session['nombre_usuario'] }}</span> |
            <a href="/logout">Cerrar Sesión</a>
            {% else %}
            <a href="/registro">Registrarse</a> |
            <a href="/login">Iniciar Sesión</a>
            {% endif %}
        </nav>
    </header>

    <main>
        {% block content %}
        {% endblock %}
    </main>

    <footer>
        <hr>
        <p>Mini Tienda V2 - Proyecto de aprendizaje</p>
        <p><strong>Hecho por Fabian Marin</strong></p>
    </footer>
</body>

</html>